.main-page-container {
  width: 100%;
  height: 100vh;
  position: relative;
}
.login {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 340px;
  height: fit-content;
  background-color: #eee;
  backdrop-filter: blur(10px);
  padding: 27px;
  padding-bottom: 57px;
  color: var(--blue-backround);
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);
  padding-bottom: 50px;
  font-size: 1.3em;
}

.login .input {
  opacity: 1;
  display: block;
  border: none;
  outline: none;
  width: 100%;
  padding: 13px 18px;
  margin: 20px 0 0 0;
  font-size: 0.8em;
  border-radius: var(--border-radius);
  background: #fff;
  color: #333;
}

.login .input:focus {
  animation: bounce 1s;
  -webkit-appearance: none;
}

.login button,
.h1 {
  border: 0;
  outline: 0;
  width: 100%;
  padding: 13px;
  margin: 40px 0 0 0;
  border-radius: var(--border-radius);
  font-weight: 600;
  animation: bounce2 1.6s;
}

.h1 {
  padding: 0;
  position: relative;
  top: -5px;
  display: block;
  margin-bottom: -0px;
  font-size: 1.3em;
}

.login-btn {
  background: linear-gradient(144deg, #af40ff, #5b42f3 50%, #00ddeb);
  color: #fff;
  padding: 16px !important;
}

.login-btn:hover {
  background: linear-gradient(
    144deg,
    var(--blue-backround),
    20%,
    #1e1e1e 50%,
    var(--blue-backround)
  );
  color: rgb(255, 255, 255);
  padding: 16px !important;
  cursor: pointer;
  transition: all 0.4s ease;
}

.login .input {
  animation: bounce 1s;
  -webkit-appearance: none;
}

.login input {
  animation: bounce1 1.3s;
}
.login .required-msg {
  color: red;
  font-size: 12px;
}

.ui {
  font-weight: bolder;
  background: -webkit-linear-gradient(#b563ff, #535efc, #0ec8ee);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border-bottom: 4px solid transparent;
  border-image: linear-gradient(0.25turn, #535efc, #0ec8ee, #0ec8ee);
  border-image-slice: 1;
  display: inline;
}

@media only screen and (max-width: 600px) {
  .login {
    width: 70%;
    padding: 3em;
  }
}

@keyframes bounce {
  0% {
    transform: translateY(-250px);
    opacity: 0;
  }
}

@keyframes bounce1 {
  0% {
    opacity: 0;
  }

  40% {
    transform: translateY(-100px);
    opacity: 0;
  }
}

@keyframes bounce2 {
  0% {
    opacity: 0;
  }

  70% {
    transform: translateY(-20px);
    opacity: 0;
  }
}
