.list a {
  color: #fff !important;
}
.active {
  color: #c2945a !important;
}
.css-10hburv-MuiTypography-root {
  font-size: 18px !important;
}
.css-16ac5r2-MuiButtonBase-root-MuiListItemButton-root:hover {
  background-color: rgba(255, 255, 255, 0.1) !important;
}
