@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300;400;500;600&display=swap");
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin: 0;
  padding: 0;
  --box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  --border-radius: 5px;
  --white-background: #fff;
  --blue-backround: #0085ff;
  --green-color: #11dd62;
}
html,
body,
:root {
  width: 100%;
}
a {
  text-decoration: none;
}
h1 {
  display: inline;
}
h3 {
  margin: 0;
}
.app {
  height: 100%;
}
/* .main-page  */
.main-page {
  background-color: #eee;
  height: 100vh;
}

.main-title {
  color: #010715;
  font-family: "Be Vietnam Pro", sans-serif;
  font-size: 19.694px;
  font-style: normal;
  font-weight: 700;
  line-height: 27.572px; /* 140% */
  letter-spacing: 0.236px;
  margin-bottom: 5px;
  text-transform: capitalize;
  width: fit-content;
}
.submit-btn {
  background-color: #1f8b24 !important;

  color: #c5f2c7 !important;
}
.customer-name {
  color: var(--Black, #000);
  font-variant-numeric: lining-nums tabular-nums;
  font-feature-settings: "clig" off, "liga" off;

  /* Manrope / Body 1 */
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
  letter-spacing: 0.269px;
  text-transform: capitalize;
}

.dataGrid {
  background-color: #fff;
  margin-top: 15px;
  padding: 7px;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
}
.css-mj2xxh {
  height: auto !important;
}
