	/*
  	Flaticon icon font: Flaticon
  	Creation date: 25/01/2021 03:46
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("../fonts/Flaticon.eot");
  src: url("../fonts/Flaticon.eot?#iefix") format("embedded-opentype"),
       url("../fonts/Flaticon.woff2") format("woff2"),
       url("../fonts/Flaticon.woff") format("woff"),
       url("../fonts/Flaticon.ttf") format("truetype"),
       url("../fonts/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("../fonts/Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {
  font-family: Flaticon;
  font-style: normal;
}

.flaticon-menu-button-of-three-horizontal-lines:before { content: "\f100"; }
.flaticon-search-interface-symbol:before { content: "\f101"; }
.flaticon-shopping-bag:before { content: "\f102"; }
.flaticon-heart-shape-outline:before { content: "\f103"; }
.flaticon-headphones:before { content: "\f104"; }
.flaticon-delivery-truck:before { content: "\f105"; }
.flaticon-money:before { content: "\f106"; }
.flaticon-rotate:before { content: "\f107"; }
.flaticon-user-profile:before { content: "\f108"; }
.flaticon-search:before { content: "\f109"; }
.flaticon-user:before { content: "\f10a"; }
.flaticon-menu:before { content: "\f10b"; }
.flaticon-shopping-cart:before { content: "\f10c"; }
.flaticon-cart:before { content: "\f10d"; }
.flaticon-heart:before { content: "\f10e"; }
.flaticon-compare:before { content: "\f10f"; }
.flaticon-diamond:before { content: "\f110"; }
.flaticon-premium-quality:before { content: "\f111"; }
.flaticon-customer-support:before { content: "\f112"; }
.flaticon-open-24-hours:before { content: "\f113"; }
.flaticon-debit-card:before { content: "\f114"; }
.flaticon-recycle-sign:before { content: "\f115"; }
.flaticon-warehouse:before { content: "\f116"; }
.flaticon-truck:before { content: "\f117"; }
.flaticon-box:before { content: "\f118"; }
.flaticon-data:before { content: "\f119"; }
.flaticon-balance:before { content: "\f11a"; }
.flaticon-phone-call:before { content: "\f11b"; }
.flaticon-email:before { content: "\f11c"; }
.flaticon-place:before { content: "\f11d"; }
.flaticon-error:before { content: "\f11e"; }
.flaticon-close:before { content: "\f11f"; }
.flaticon-delete-button:before { content: "\f120"; }
.flaticon-gross-dark-cross:before { content: "\f121"; }
.flaticon-targeting-cross:before { content: "\f122"; }
.flaticon-box-1:before { content: "\f123"; }
.flaticon-trash:before { content: "\f124"; }
.flaticon-checked:before { content: "\f125"; }